<div *ngIf="person">
  <mat-slide-toggle class="dev-mode-slide-toggle" (change)="devMode = !devMode">Dev Mode</mat-slide-toggle>
  <div class="header-details">
    <div>
      <img class="avatar-img" src="{{person.avatar}}">
    </div>
    <div class="avatar-details">
      <div>
        <label for="name">Name:</label>
        {{ person.firstName }} {{ person.lastName }}
      </div>
      <div>
        <label for="position">Position:</label>
        {{ person.position }}
      </div>
      <hr />
      <div *ngIf="person?.manager?._id">
        <label for="manager">Manager:</label>
        {{ person.manager?.firstName }} {{ person.manager?.lastName }}
        <button mat-raised-button color="primary" (click)="onReport(person)">
          Report
        </button>
      </div>
    </div>
  </div>
  <div class="tasks" *ngIf="person.tasks && person.tasks.length > 0">
    <div>
      <label>My Tasks:</label>
    </div>
    <mat-list>
      <mat-list-item *ngFor="let task of person.tasks">
        {{ task.text }} <span class="task-on">on</span> {{ task.dueDate | date: "short" }}</mat-list-item
      >
    </mat-list>
  </div>

  <div class="subordinates" *ngIf="person?.subordinates && person?.subordinates.length > 0">
    <div>
      <label>My Subordinates:</label>
    </div>
    <mat-list>
      <mat-list-item *ngFor="let subordinate of person?.subordinates">
        {{ subordinate.firstName }} {{ subordinate.lastName }}
        {{ subordinate.position }}
        <button
          class="assign-task-btn"
          mat-raised-button
          color="primary"
          (click)="onAssignTask(subordinate)"
        >
          Assign Task
        </button>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="reports" *ngIf="person?.reports && person?.reports.length > 0">
    <div>
      <label>Reports Others To Me:</label>
    </div>
    <mat-list>
      <mat-list-item *ngFor="let report of person?.reports">
        <span class="report-subject-label">Report Subject:</span>
        <span>{{ report.text }} on {{ report.date | date: "short" }}</span>
      </mat-list-item>
    </mat-list>
  </div>

  <pre *ngIf="devMode">{{person | json}}</pre>
</div>
